#main-container{
    min-height:100%;
    width:100%;
    height:100%;

}

#mid-container{
    width:100%;
    background-color:transparent;
    height:100%;
}

#header{
    width:100%;
    height:10%;
    text-align:center;
}
#cardStack{
    min-width:100%;
    height:80%;

    overflow:hidden;
}
#cardScroll{

    min-width:100%;
    height: 90%;
    margin-top:5%;
    overflow-y: scroll;

}
#card{
    margin: auto;
    background-color:gray;
    height:150px;
    border-radius:20px;
    width:70%;
}
#cardInfo{
    width:100%;
}
.card-title{
    font-size:100%;
}
#bottom {
    width: 100%;
    height: 10%;
}
.container::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

#menu{
    width:10%;

}
#logo{
    width:100%;
    position:absolute;
}