#main-container {
    height: 100%;
    min-width: 100%;

}

#top {
    height: 5%;
    min-width: 100%;

}

#mid-container {
    height: 90%;
    min-width: 100%;
}

#bot {
    height: 5%;
    min-width: 100%;
    background-color: darkblue;
    opacity: 0.2;
}

#left {
    height: 100%;
    width: 30%;
    min-width: 30%;
}

#left-top {
    text-align: match-parent;
    width: 100%;
    min-height: 10%
}

#left-bot {
    text-align: center;
    width: 100%;

}

#right {
    height: 100%;
    width: 70%;
}

#mid-top {
    max-height: 40%;
    width: 100%;
    text-align: center;

}

#mid-main {
    max-height: 60%;

    width: 60%;
}

#login-form {
    width: 100%
}

#exampleEmail {
    height: 3.2vw;
    font-size: 2vw;
}

#password {
    height: 3.2vw;
    font-size: 2vw;
}

h2 {
    align-items: center;
    font-size: 3.5vw;
    color: white;
}

#list-text {
    font-family: "Segoe UI Light";
    align-items: center;
    font-size: 2vw;
    color: white;

}