html{
    height:100%;
    background:  url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) no-repeat center center fixed;
    background-size: cover;

}
body{
    height:100%;
    background:  url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) no-repeat center center fixed;
    background-size: cover;

}
#outer-window{
    height:100%;

}
#left{
    height:100%;
    width:5%;


}
#hideScroll{
    overflow:hidden;
}
#nav{

}
#friendScroll{
    overflow-y: scroll;

    height:90%;
}
#friend{
    border-top:1px;
}
#right {
    height: 100%;
    width: 100%;


}
#top{
    height:5%;
    margin-bottom:25px;
}
#main{
    background-color:white;
    width:95%;
    height:100%;
    margin-bottom:20px;
    border-radius:20px;
}
#bot{
    height:calc(10px + 4vw);
    width: 95%;
    background-color:white;
    margin-bottom:10px;
    border-radius:200px;

}
#typeMessage{
    width:95%;
    border:none;
    color:black;
}
#sendMessage{
    border-radius:200px;
    background-color:red;
}
#textBox{

}
#messageLeft{
    align-self:start;
    padding:10px;
    border-radius:10px;
    background-color:lightblue;
}
#gap{
    height:10px;
}
#messageRight{
    align-self:flex-end;
    max-width:30%;
    padding:10px;
    border-radius:10px;
    background-color:lightseagreen;
    word-break: break-all;
    word-wrap: break-word;
}