#main-container{
    height:100%;
    min-width:100%;

}
#header {
    min-height: 20%;
}
#top{
    width: 100%;
    height: 25%;
}
#bot{
    width: 100%;

}
#preview{
    min-width:60%;
    height:60%;
    overflow:hidden;
}

#card{
    background-color:gray;
    height:150px;
    border-radius:20px;
    width:100%;
}
#cardInfo{
    width:100%;
}

#form-container{
    width:80%;
    height:90%;
}

#profile-form{
    width:40%;
    padding-bottom:10px;
}
#preferences-form{
    width:40%;
}
option{
    background-color:black;
}
#hobbies-list{
    width:100%;

}
#column{
    padding-left:20px;
}