#main-container{
    height:100%;
    min-width:100%;

}
#register-form{
    width:50%
}

#image-container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}
option{
    background-color:black;
}