{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'match/login_style.css' %}"/>
</head>
<body>
<div style="text-align: center;">
    <canvas id='logo' width='624' height='96'> {{ appname }} </canvas>
</div>
{% if is_logged_in %}
    <div class='app_name'>{{ appname }} ({{ username }})</div>
{% else %}
    <div class='app_name'>{{ appname }}</div>
{% endif %}
<br>
<ul class='menu'>
    {% if is_logged_in %}
        <li><a href="{% url 'homepage' %}">Homepage</a></li>
        <li><a href="{% url 'members' %}">Members</a></li>
        <li><a href="{% url 'matches' %}">Matches</a></li>
        <li><a href="{% url 'profile' %}">Edit Profile</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
    {% else %}
        <li><a href="{% url 'signup' %}">Sign up</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
    {% endif %}
</ul>
<br>
{% block content %}
{% endblock %}
<br>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>