<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/index_style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.0/css/bootstrap-slider.min.css" />
    <title>{{ app_name }} - Home</title>
</head>
<body>

<!-- MAIN CONTAINER STARTS HERE-->
<div class="d-flex position-absolute flex-row align-items-center justify-content-between" id="main-container">


    <!-- LEFT CONTAINER START -->


    <div id="mySidenav" class="sidenav"> <!-- This is the div which would appear once the function to open the menu has been run -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a><img style="height:6vw" src="../../static/match/media/user.png"></a>
        <a href={% url 'matches' %}>Matches</a>
        <a href={% url 'profile' %}>Profile</a>
        <a href={% url 'messages' %}>Messages</a>
        <a href={% url 'logout' %}>Log out</a>
    </div>
    <!-- LEFT CONTAINER END-->


    <!-- MID CONTAINER STARTS HERE -->
    <div class="d-flex flex-column align-items-center" id="mid-container">
    <!-- This is the main container housing all elements -->
        <div id="header" class="d-flex flex-row align-items-center justify-content-between">
            <div id="logo">
                <img style="height:calc(6vw);float:left;cursor:pointer" onclick="openNav()" src="../../static/match/media/logo.png"/>
                <h1>Find your Match </h1>
            </div>
        </div>

            <div id="cardStack"> <!-- Card stack is the main window for the scrolling cards-->
                <!-- Card -->
                <div id="cardScroll" class="container"> <!-- Card stack is used with card scrolling to hide the scrolling bar -->
                    {% for member in members %} <!-- For each member that exists, it will print an entire card div with their information -->
                    <form id="card-form" method="POST" >
                    {% csrf_token %}
                        <div>
                            <div id="card" class="card d-flex flex-row">
                                <div id="cardImage">
                                    <img class="card-img-top" style="height:100px;width:100px" src="../../static/match/media/user.png" alt="">
                                </div>
                                <div id="cardInfo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title" id="username">{{ member.username }}</h5>
                                        <h5>{{ member.age }}</h5>
                                    </div>

                                    <div>
                                        <p class="card-text">{{ member.hobbies }}</p>
                                    </div>

                                    <div>
                                        <a style="width:49%;float:left;" class="btn btn-danger">Nope</a>
                                        <button style="width:50%;float:right;" class="btn btn-primary" type="submit" name={{ member.username }}>MatchIt</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </form>
                    {% endfor %}
                </div>


            <!-- .end Card -->
            <!-- This is the filter which is connected to our back-end. This changes the messages list to only show members who are in within the users requirements. -->
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center" style="width:100%;" >
            <div>
                <h2>Refine your search</h2>
            </div>

            <div class="d-flex flex-column justify-content-around align-items-center" style="" id="bottom">
                <form class="" method="POST" id="filter_cards" action={% url 'homepage' %}>
                    {% csrf_token %}
                    <div>
                        <p1 style="font-size:20px">Age range:</p1>
                        <input name="minAge" style="background-color:gray" type="number" min="18" max="100">
                        <p1 style="font-size:20px">to</p1>
                        <input name="maxAge"style="background-color:gray" type="number"  min="18" max="100">
                    </div>
                    <div>
                        <p1>Looking for..</p1>
                            <select name ="gender" class="form-control" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                    </div>
                    <button type="submit" style="margin-top:10px" class=" btn btn-block btn-primary">Filter</button>
                </form>
            </div>
        </div>

    </div>

    <!-- MID CONTAINER ENDS HERE-->

    <!-- RIGHT CONTAINER START -->



</div>
<!-- MAIN CONTAINER ENDS HERE -->
<!-- This is the script which opens up the side navigation bar-->
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>

<!--MAIN CONTAINER ENDS HERE -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.0/bootstrap-slider.min.js"></script>

<!-- Latest compiled and minified CSS for SELECT-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript for SELECT-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

</body>
</html>