{% extends 'match/base.html' %}

{% block content %}
    <span class='info'>
        You must be logged in to view this page.
    </span>
    <br>
    <br>
    <br>
    <span class='main'>
        Welcome to {{ app_name }}, please sign in to get started.
    </span>
    <br>
{%  endblock %}