<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/login_style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <title>MatchIt - Login</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <!-- MAIN CONTAINER STARTS HERE-->

    <div class = "d-flex position-absolute flex-column align-items-center justify-content-center" id="main-container">
        <div class="d-flex align-items-center justify-content-center" id="top">

        </div>
        <!-- MID CONTAINER STARTS HERE -->
        <div class="d-flex flex-row align-items-center justify-content-center" id="mid-container">
            <!-- LEFT CONTAINER START -->
            <!--  Multiple flexboxes are used in order to get complete control over the divisions and locations of the divs.-->
            <div class="d-flex flex-column align-items-center justify-content-center" id="left">
                <div id="left-top"></div>
                <div class="d-flex flex-column align-items-center justify-content-center" id="left-mid">
                    <h2>Why MatchIt?</h2>
                    <ul id="list-text">
                        <li> We accept anybody and everybody, doesn't matter your preference or desires..</li>
                        <br>
                        <li> Start instant messaging as soon as you're matched</li>
                        <br>
                        <li> Match and communicate with people that share common interests.</li>
                        <br>
                        <li>Find a soulmate, or the love of your life today...</li>
                    </ul>
                    <a class="btn btn-danger btn-block" href={% url 'signup' %}>Get started...</a>
                </div>
                <div id="left-bot"></div>
            </div>
            <!-- LEFT CONTAINER END-->

            <!-- RIGHT CONTAINER START -->
            <div class = "d-flex align-items-center justify-content-center flex-column" id="right">
                <div class = "align-content-center" id="mid-top">
                    <h1 style="color:white">MatchIt</h1>
                    <h2>Your journey starts here...</h2>
                </div>

                <!-- LOG IN FORM START-->
                <div class = "d-flex align-items-center justify-content-center flex-row" id="mid-main">
                    <form id="login-form" method='POST' action="{% url 'login' %}">
                        {% csrf_token %} <!-- Cross site request forgery protection-->
                        <div class="form-group">
                            <label for="exampleEmail" style="font-size:2.5vw;color:white">E-mail</label>
                            <input type="email" class="form-control" id="exampleEmail" placeholder="e.g. example@domain.com" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password" style="font-size:2.5vw;color:white">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
                            <button style="margin-top:5%" type="submit" class="btn btn-primary btn-block">Start matching..</button>
                        </div> <!--  This form has a button of type submit which would be sent to the backend-->
                    </form>
                </div>
                 <!--LOG IN FORM END-->
            </div>
            <!-- MID CONTAINER ENDS HERE-->
        </div>
    </div>
<script>

</script>
    <!-- MAIN CONTAINER ENDS HERE -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>