<!-- Similar format to the main homepage, also sharing the same css file -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/index_style.css">

    <title>{{ app_name }} - Matches</title>
</head>
<body>
<!-- MAIN CONTAINER STARTS HERE-->
<div class="d-flex position-absolute flex-row align-items-start justify-content-start" id="main-container">


    <!-- LEFT CONTAINER START -->
    <div style="float:left" id="left">
        <img style="width:calc(50px + 2vw);float:left;cursor:pointer" onclick="openNav()" src="../../static/match/media/logo.png"/>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a><img style="height:6vw" src="../../static/match/media/user.png"></a>
        <a href={% url 'homepage' %}>Home</a>
        <a href={% url 'profile' %}>Profile</a>
        <a href={% url 'messages' %}>Messages</a>
        <a href={%  url 'logout' %}>Log out</a>
    </div>
    <!-- LEFT CONTAINER END-->


    <!-- MID CONTAINER STARTS HERE -->
    <div class="d-flex flex-column align-items-center" id="mid-container">
        <div id="header" class="d-flex flex-row align-items-center justify-content-between">
            <div id="logo">
                <h1>Your Matches! </h1>
            </div>
        </div>

        <div id="cardScroll" class="container">
            {% for member in members %}
                <form id="card-form" method="POST" >
                    {% csrf_token %}
                    <div>
                        <div id="card" class="card d-flex flex-row">
                            <div id="cardImage">
                                <img class="card-img-top" style="height:100px;width:100px"
                                     src="../../static/match/media/user.png" alt="">
                            </div>
                            <div id="cardInfo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ member.username }}, {{ member.age }}</h5>
                                </div>

                                <div>
                                    <p class="card-text">{{ member.hobbies }}</p>
                                </div>

                                <div>
                                    <button style="width:50%;float:right;" class="btn btn-primary" data-id="{{member.username}}" type="submit">
                                        MatchIt
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            {% endfor %}
        </div>
        <div id="bottom">

        </div>


    </div>

    <!-- MID CONTAINER ENDS HERE-->

    <!-- RIGHT CONTAINER START -->
    <div id="right">
    </div>


</div>
<!-- MAIN CONTAINER ENDS HERE -->


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }


</script>


<script>
    // This version runs the function *immediately*
    (function ($) {

        $(document.body).fadeIn(1000);

    })(jQuery);
</script>

<!--MAIN CONTAINER ENDS HERE -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<!-- Latest compiled and minified CSS for SELECT-->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript for SELECT-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

</body>
</html>