<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/messages-style.css">

    <title> MatchIt - My messages</title>
</head>
<body>
    <div class="d-flex flex-rp justify-content-start align-items-center" id="outer-window">
        <div id="left" style="z-index: 1">
            <div style="height:calc(50px + 2vw);" id = "nav">
                <div class="align-self-start" style="float:left;" id="">
                    <img style="width:calc(50px + 2vw);float:left;cursor:pointer" onclick="openNav()" src="../../static/match/media/logo.png"/>
                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a><img style="height:6vw" src="../../static/match/media/user.png"></a>
                    <a href={% url 'matches' %}>Matches</a>
                    <a href={% url 'homepage' %}>Home</a>
                    <a href={% url 'profile' %}>Profile</a>
                    <a href={%  url 'logout' %}>Log out</a>
                </div>
            </div>


        </div>

        <div class="d-flex flex-column align-items-center" id="right">
            <div class="p-2 bd-highlight" id="top">
                <h2>Messages</h2>
            </div>
            <div class="p-2 bd-highlight d-flex flex-column justify-content-end align-items-center" id="main">
                <div id="messageLeft">
                </div>

                <div id="gap"></div>

                <div id="messageRight">
                    <div style="float:left">
                    </div>
                </div>

                <div id="gap"></div>

                <div id="messageLeft">

                </div>
            </div>
            <div class="mt-auto p-2 bd-highlight" id="bot">
                <form method="POST">
                    {% csrf_token %}
                    <div id="textBox" class="d-flex flex-row">
                    <input id="typeMessage" autocomplete="off" type="text">
                    <button style="" class="" id="sendMessage" type="submit"> Send </button>
                    </div>
                </form>
            </div>
            </div>
        </div>
<script>
    const input = document.getElementById("myInput");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("sendMessage").click();
        }
    });
</script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>