<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/index_style.css">

    <title>MatchIt - Not Logged In</title>
</head>
<body>
<a style="font-size:40px;" href= {% url 'login' %}>You are not logged in, please click here to log in.</a>
</body>
</html>