<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/profile_style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/index_style.css">

    <title>{{ app_name }} - My profile</title>
</head>
<body>
{% if is_logged_in %}

    <div class="d-flex position-absolute flex-column align-items-center justify-content-start" id="main-container">
        <div class="align-self-start" style="float:left;" id="left">
            <img style="height:6vw;float:left;cursor:pointer" onclick="openNav()"
                 src="../../static/match/media/logo.png"/>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a><img style="height:6vw" src="../../static/match/media/user.png"></a>
            <a href={% url 'homepage' %}>Home</a>
            <a href={% url 'matches' %}>Matches</a>
            <a href={% url 'profile' %}>Settings</a>
            <a href={% url 'messages' %}>Messages</a>
            <a href={% url 'logout' %}>Log out</a>
        </div>

        <div style="min-height:250px" class="d-flex flex-column align-items-center justify-content-start" id="top">
            <div id="header">
                <h1 style="font-size:calc(50px + 1.5vw);">Your profile</h1>
            </div>
            <div>
                <br>
            </div>
            <!-- Here i use the same cards as on the homepage, as it is meant to represent what other people may see when viewing this persons card. -->
            <!--START OF CARD PREVIEW -->
            <div id="preview" class="d-flex flex-column justify-content-center">
                <div style="">
                    <div id="card" class="card d-flex flex-row justify-content-center">
                        <div id="cardImage">
                            <img style="height:100px;width:100px" src="../../static/match/media/user.png">
                        </div>
                        <div id="cardInfo">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ name }}, {{ age }}</h5>
                            </div>
                            <div>
                                <p class="card-text">{{ hobbies }}</p>
                            </div>

                            <div>
                                <a style="width:49%;float:left;" class="btn btn-danger" href="">Decline</a>
                                <a style="width:50%;float:right;" class="btn btn-primary" href="">MatchIt</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FORM START -->
        <div id="bot" class="d-flex flex-column align-items-center">
            <h3 style="padding-top:20px">How others can see you</h3>
            <hr style="width:80%;border-color:white">

            <div id="form-container" class="d-flex flex-column align-items-center">
                <div style="align-self:start">
                    <h1 style="font-size:calc(20px + 1.5vw);"> Edit profile settings</h1>
                </div>


                <form id="image-form" method="POST" enctype="multipart/form-data" action= {% url 'update_profile' %}>
                    {% csrf_token %}
                    <div>
                        <input type="file" id="files" name="img_file"/>
                        <output id="list"></output>
                        <button style="margin-top:5%" type="submit" class="btn btn-primary btn-block">Update image
                        </button>
                    </div>

                </form>

                <form id="profile-form" method="POST" action={% url 'update_profile' %}>
                    {% csrf_token %}
                    <div style="">
                        <label for="registerName" style="font-size:2.0vw;color:white">Display name</label>
                        <input type="text" class="form-control" id="registerName" placeholder="Update Name" name="name">

                        <label for="registerPassword" style="font-size:2.0vw;color:white">Password</label>
                        <input type="password" class="form-control" id="registerPassword"
                               placeholder="Update your password" name="password">
                        <button style="margin-top:5%" type="submit" class="btn btn-primary btn-block">Update settings
                        </button>
                    </div>
                </form>
<!-- Hobbies were done as individual values and checkboxes. We then make them an array in the back end, then split it accordingly-->
                <div style="align-self:start">
                    <h1 style="font-size:calc(20px + 1.5vw);">Choose hobbies</h1>
                </div>
                <form method="POST" id="preferences-form" action={% url 'add_hobbies' %}>
                    {% csrf_token %}
                    <label style="font-size:2.0vw;color:white">My hobbies</label>
                    <div id="hobbies-list" class="d-flex flex-row">
                        <div id="column" class="d-flex flex-column">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby1" value="Skating" name="hobbies[]">
                                <label class="form-check-label" for="hobby1">Skating</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby2" value="Kayaking" name="hobbies[]">
                                <label class="form-check-label" for="hobby2">Kayaking</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby3" value="Gaming" name="hobbies[]">
                                <label class="form-check-label" for="hobby3">Gaming</label>
                            </div>
                        </div>

                        <div id="column" class="d-flex flex-column">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby4" value="Running" name="hobbies[]">
                                <label class="form-check-label" for="hobby4">Running</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby5" value="Photography" name="hobbies[]">
                                <label class=" form-check-label" for="hobby5">Photography</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby6" value="Cooking" name="hobbies[]">
                                <label class="form-check-label" for="hobby6">Cooking</label>
                            </div>
                        </div>

                        <div id="column" class="d-flex flex-column">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby7" value="Movies" name="hobbies[]">
                                <label class="form-check-label" for="hobby7">Movies</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby8" value="Travelling" name="hobbies[]">
                                <label class="form-check-label" for="hobby8">Travelling</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hobby9" value="Painting" name="hobbies[]">
                                <label class="form-check-label" for="hobby9">Painting</label>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top:5%" type="submit" class="btn btn-primary btn-block">Update hobbies
                    </button>
                </form>
            </div>
        </div>
        <!-- FORM END -->
    </div>

<!-- This script opens and closes the navigation bar-->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

{% endif %}
</html>