<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/match/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/match/register_style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css">
    <title>MatchIt - Register</title>
</head>
<body>
<!-- MAIN CONTAINER STARTS HERE-->
<div class="d-flex position-absolute flex-column align-items-center justify-content-center" id="main-container">
    <!-- TOP CONTAINER -->
    <div id="full" style="height:10%" class="d-flex justify-content-center">
        <h1>Begin your journey..</h1>
    </div>
    <!--TOP CONTAINER END -->

    <!-- BOTTOM CONTAINER AND FORM -->
    <div id="full" class="d-flex justify-content-center">
        <form id="register-form" method='POST' action="{% url 'register' %}">
            {% csrf_token %}
            <div class="">

                <!-- IMAGE UPLOAD -->
                <div id="image-container">

                    <!-- END OF IMAGE UPLOAD -->
                    <label for="registerName" style="font-size:2.0vw;color:white">Display name</label>
                    <input type="text" class="form-control" id="registerName" placeholder="e.g. CoolMan123" name="display_name">

                    <label for="registerEmail" style="font-size:2.0vw;color:white">E-mail</label>
                    <input type="email" class="form-control" id="registerEmail" name="username"
                           placeholder="e.g. example@domain.com">

                    <label for="registerPassword" style="font-size:2.0vw;color:white">Password</label>
                    <input type="password" class="form-control" id="registerPassword" placeholder="Password..." name="password">

                    <label for="registerDate" style="font-size:2.0vw;color:white">Date of birth</label>
                    <input type="date" class="form-control" id="registerDate" name="dob">

                    <label for="gender" style="font-size:2.0vw;color:white"> Gender </label>
                       <select class="form-control" name="gender" id="gender">
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                           <option value="Other">Other</option>
                       </select>

                    <button style="margin-top:5%" type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>
<script>
</script>
<!--MAIN CONTAINER ENDS HERE -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS for SELECT-->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript for SELECT-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
</body>
</html>